/*** App styles variable ***/
$saveday-yellow-color: #F0DC46;
$saveday-grey-color: #9B9B9B;
$saveday-offwhite-color: #ECEADD;
$saveday-black-color: #101010;
$desktop-max-width: 600px;
$saveday-grey-900-color: #171717;
